Repository DariusTarvydas00/todo-list-shareable: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Back-End, Build Front-End, Back-End Test, Front-End Test

Jenkinsfile:

pipeline {
    agent any

    triggers{
        pollSCM('*/15 * * * *')
    }

    tools {
        nodejs "Node"
    }

    stages {
        stage("Build project"){
            parallel {
                stage("Build Back-End"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-backend/**"
                        changeset "todo-list-shareable-backend/src/**"
                        }
                    }
                    steps {
                        dir('todo-list-shareable-backend') {
                            sh 'npm run build'
                            sh 'npm test'
                        }
                    }
                }
                stage("Build Front-End"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-frontend/**"
                        }
                    }
                    steps {
                        dir('todo-list-shareable-frontend') {
                            sh 'npm run build'
                        }
                    }
                }
            }
        }
         stage("Unit test"){
            parallel{
                stage("Back-End Test"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-backend/**"
                        }
                    }
                    steps{
                        dir('todo-list-shareable-backend') {
                        sh 'npm install'
                        sh 'npm run test'
                        }
                    }
                    post{
                        always {
                        step([$class: 'CoberturaPublisher', coberturaReportFile: 'todo-list-shareable-backend/cobertura-coverage.xml'])
                        }
                    }
                }
                stage("Front-End Test"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-frontend/**"
                        }
                    }
                    steps{
                        dir('todo-list-shareable-frontend') {
                        sh 'npm install'
                        sh "npm run coverage"
                        }
                    }
                    post{
                        always {
                        step([$class: 'CoberturaPublisher', coberturaReportFile: 'todo-list-shareable-frontend/coverage/cobertura-coverage.xml'])
                        }
                    }
                }
            }
         }
    }
}

test
  Jenkinsfile
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
  todo-list-shareable-frontend/vite.config.ts
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
  todo-list-shareable-frontend/vite.config.ts
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
Due: none

test
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/package-lock.json
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/sonar-project.properties
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-frontend/src/App.vue
Due: Build Front-End, Front-End Test

test
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/sonar-project.properties
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-backend/test/app.e2e-spec.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/.eslintrc.cjs
  todo-list-shareable-frontend/README.md
  todo-list-shareable-frontend/jest.config.js
  todo-list-shareable-frontend/package.json
  todo-list-shareable-frontend/src/App.vue
  todo-list-shareable-frontend/src/components/TheWelcome.vue
  todo-list-shareable-frontend/src/main.ts
  todo-list-shareable-frontend/tsconfig.json
  todo-list-shareable-frontend/vite.config.ts
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  todo-list-shareable-frontend/package.json
  todo-list-shareable-frontend/vite.config.ts
Due: Build Front-End, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/jobvars.env
  todo-list-shareable-frontend/vite.config.ts
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/jobvars.env
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  jobvars.env
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/jobvars.env
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/Dockerfile
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/Dockerfile
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test
