Repository DariusTarvydas00/todo-list-shareable: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Back-End, Build Front-End, Back-End Test, Front-End Test

Jenkinsfile:

pipeline {
    agent any

    triggers{
        pollSCM('*/15 * * * *')
    }

    tools {
        nodejs "Node"
    }

    stages {
        stage("Build project"){
            parallel {
                stage("Build Back-End"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-backend/**"
                        changeset "todo-list-shareable-backend/src/**"
                        }
                    }
                    steps {
                        dir('todo-list-shareable-backend') {
                            sh 'npm run build'
                        }
                    }
                }
                stage("Build Front-End"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-frontend/**"
                        }
                    }
                    steps {
                        dir('todo-list-shareable-frontend') {
                            sh 'npm run build'
                        }
                    }
                }
            }
        }
         stage("Unit test"){
            parallel{
                stage("Back-End Test"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-backend/**"
                        }
                    }
                    steps{
                        dir('todo-list-shareable-backend') {
                        sh 'npm install'
                        sh 'npm run test'
                        }
                        dir('../coverage'){
                        sh 'mv cobertura-coverage.xml be.xml'
                        }
                    }
                    post{
                        always {
                        step([$class: 'CoberturaPublisher', coberturaReportFile: 'reports/test-report-back-end.xml'])
                        }
                    }
                }
                stage("Front-End Test"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-frontend/**"
                        }
                    }
                    steps{
                        dir('todo-list-shareable-frontend') {
                        sh 'npm install'
                        sh "npm run coverage"
                        }
                    }
                }
            }
         }
    }
}

test
  todo-list-shareable-backend/Dockerfile
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/docker-compose.yml
  todo-list-shareable-backend/environments/test-manual.env
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
Due: none

test
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/docker-compose.yml
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/Dockerfile
  todo-list-shareable-frontend/docker-compose.yml
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  todo-list-shareable-backend/environments/test-manual.env
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/Dockerfile
  todo-list-shareable-backend/src/main.ts
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/Dockerfile
  todo-list-shareable-frontend/Dockerfile
  todo-list-shareable-frontend/docker-compose.yml
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  todo-list-shareable-frontend/Dockerfile
  todo-list-shareable-frontend/docker-compose.yml
  todo-list-shareable-frontend/environments/test-manual.env
Due: Build Front-End, Front-End Test

front end
  todo-list-shareable-frontend/.browserslistrc
  todo-list-shareable-frontend/.eslintrc.js
  todo-list-shareable-frontend/.gitignore
  todo-list-shareable-frontend/Dockerfile
  todo-list-shareable-frontend/babel.config.js
  todo-list-shareable-frontend/cypress.json
  todo-list-shareable-frontend/docker-compose.yml
  todo-list-shareable-frontend/jest.config.js
  todo-list-shareable-frontend/lint-staged.config.js
  todo-list-shareable-frontend/package-lock.json
  todo-list-shareable-frontend/src/registerServiceWorker.ts
  todo-list-shareable-frontend/src/shims-vue.d.ts
  todo-list-shareable-frontend/src/store/index.ts
  todo-list-shareable-frontend/src/views/AboutView.vue
  todo-list-shareable-frontend/tests/e2e/.eslintrc.js
  todo-list-shareable-frontend/tests/e2e/plugins/index.js
  todo-list-shareable-frontend/tests/e2e/specs/test.js
  todo-list-shareable-frontend/tests/e2e/support/commands.js
  todo-list-shareable-frontend/tests/e2e/support/index.js
  todo-list-shareable-frontend/tests/unit/example.spec.ts
  todo-list-shareable-frontend/vue.config.js
Due: Build Front-End, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/docker-compose.yml
  todo-list-shareable-backend/environments/test-manual.env
  todo-list-shareable-backend/package-lock.json
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/src/UnitTest/app.controller.spec.ts
  todo-list-shareable-backend/src/app.controller.ts
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-backend/src/main.ts
  todo-list-shareable-backend/test/app.e2e-spec.ts
  todo-list-shareable-frontend/package-lock.json
  todo-list-shareable-frontend/package.json
  todo-list-shareable-frontend/src/auth/services/auth.header.ts
  todo-list-shareable-frontend/src/auth/services/auth.service.ts
  todo-list-shareable-frontend/src/auth/services/user.service.ts
  todo-list-shareable-frontend/src/auth/store/auth.module.ts
  todo-list-shareable-frontend/src/auth/store/index.ts
  todo-list-shareable-frontend/src/components/Login.vue
  todo-list-shareable-frontend/src/models/User.ts
  todo-list-shareable-frontend/src/router/index.ts
  todo-list-shareable-frontend/src/store/index.ts
  todo-list-shareable-frontend/src/store/listStore.ts
  todo-list-shareable-frontend/src/store/userStore.ts
  todo-list-shareable-frontend/src/views/FriendsView.vue
  todo-list-shareable-frontend/tests/e2e/plugins/index.js
  todo-list-shareable-frontend/tests/e2e/support/index.js
  todo-list-shareable-frontend/tsconfig.json
  todo-list-shareable-frontend/vue.config.js
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.module.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/Jenkinsfile
  todo-list-shareable-backend/src/Business logic/tasks.service.ts
  todo-list-shareable-backend/src/core/task.model.ts
  todo-list-shareable-backend/src/tasks/dtos/create-task.dto.ts
  todo-list-shareable-backend/src/tasks/dtos/get-tasks-filter.dto.ts
  todo-list-shareable-backend/src/tasks/dtos/update-task-status.dto.ts
  todo-list-shareable-backend/src/tasks/tasks.controller.ts
  todo-list-shareable-backend/src/tasks/tasks.module.ts
  todo-list-shareable-backend/yarn.lock
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/docker-compose.yml
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-frontend/src/views/FriendsView.vue
Due: Build Front-End, Front-End Test

test
  todo-list-shareable-backend/src/app.module.ts
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/.dockerignore
  todo-list-shareable-backend/Dockerfile
  todo-list-shareable-backend/docker-compose.yml
  todo-list-shareable-backend/package-lock.json
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-backend/yarn.lock
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/Dockerfile
  todo-list-shareable-backend/src/app.module.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/docker-compose.yml
  todo-list-shareable-backend/src/app.module.ts
Due: Build Back-End, Back-End Test
