Repository DariusTarvydas00/todo-list-shareable: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Back-End, Build Front-End, Back-End Test, Front-End Test

Jenkinsfile:

pipeline {
    agent any

    triggers{
        pollSCM('*/15 * * * *')
    }

    tools {
        nodejs "Node"
    }

    stages {
        stage("Build project"){
            parallel {
                stage("Build Back-End"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-backend/**"
                        }
                    }
                    steps {
                        dir('todo-list-shareable-backend') {
                            sh 'docker build .'
                        }
                    }
                }
                stage("Build Front-End"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-frontend/**"
                        }
                    }
                    steps {
                        dir('todo-list-shareable-frontend') {
                            sh 'docker build .'
                        }
                    }
                }
            }
        }
        stage("Setup manual test env"){
                        steps{
                            dir('todo-list-shareable-backend') {
                                sh 'docker-compose --env-file environments/test-manual.env down'
                                sh 'docker-compose --env-file environments/test-manual.env up -d'
                            }
                        }
                        }
         stage("Unit test"){
            parallel{
                stage("Back-End Test"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-backend/**"
                        }
                    }
                    steps{
                        dir('todo-list-shareable-backend') {
                        sh 'npm run test'
                        }
                    }
                }
                stage("Front-End Test"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-frontend/**"
                        }
                    }
                    steps{
                        dir('todo-list-shareable-frontend') {
                        sh "npm run test:unit"
                        }
                    }
                }
            }
         }
    }
}

test
  todo-list-shareable-backend/docker-compose.yml
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/docker-compose.yml
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/src/app.module.ts
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/Dockerfile
  todo-list-shareable-backend/Jenkinsfile
  todo-list-shareable-backend/src/app.module.ts
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-frontend/Dockerfile
  todo-list-shareable-frontend/src/registerServiceWorker.ts
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-frontend/src/registerServiceWorker.ts
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-frontend/Dockerfile
  todo-list-shareable-frontend/src/registerServiceWorker.ts
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-frontend/docker-compose.yml
  todo-list-shareable-frontend/package.json
  todo-list-shareable-frontend/src/registerServiceWorker.ts
  todo-list-shareable-frontend/vue.config.js
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  todo-list-shareable-frontend/Dockerfile
  todo-list-shareable-frontend/package.json
Due: Build Front-End, Front-End Test

test
  todo-list-shareable-backend/src/app.module.ts
  todo-list-shareable-frontend/src/registerServiceWorker.ts
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
Due: none

test
  todo-list-shareable-frontend/docker-compose.yml
Due: Build Front-End, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-frontend/docker-compose.yml
Due: Build Front-End, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-frontend/Dockerfile
Due: Build Front-End, Front-End Test

test
  todo-list-shareable-frontend/Dockerfile
  todo-list-shareable-frontend/vue.config.js
Due: Build Front-End, Front-End Test

test
  Jenkinsfile
  config/Test.env
  docker-compose.yml
Due: none

test
  docker-compose.yml
Due: none

test
  todo-list-shareable-frontend/vue.config.js
Due: Build Front-End, Front-End Test

test
  todo-list-shareable-frontend/Dockerfile
Due: Build Front-End, Front-End Test

test
  todo-list-shareable-backend/Dockerfile
  todo-list-shareable-frontend/Dockerfile
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  docker-compose.yml
Due: none
