Repository DariusTarvydas00/todo-list-shareable: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Back-End, Build Front-End, Back-End Test, Front-End Test

Build Back-End:
                      steps {
                          dir('todo-list-shareable-backend') {
                              sh 'npm run build'
                              sh 'npm test'
                          }
                      }
                  

Build Front-End:
                      steps {
                          dir('todo-list-shareable-frontend') {
                              sh 'npm run build'
                          }
                      }
                  

Back-End Test:
                      steps{
                          dir('todo-list-shareable-backend') {
                          sh 'npm install'
                          sh "npm run test"
                              dir('coverage/back-end-coverage'){
  ...

Front-End Test:
                      steps{
                          dir('todo-list-shareable-frontend') {
                          sh 'npm install'
                          sh "npm run coverage"
                              dir('coverage/front-end-coverage'){
  ...

test
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/package.json
  todo-list-shareable-frontend/vite.config.ts
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
Due: none

test
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/package.json
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  todo-list-shareable-backend/test/app.e2e-spec.ts
  todo-list-shareable-frontend/src/App.vue
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-frontend/src/App.vue
Due: Build Front-End, Front-End Test

test
  Jenkinsfile
  todo-list-shareable-backend/package.json
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-frontend/src/App.vue
Due: Build Back-End, Build Front-End, Back-End Test, Front-End Test

Path conditions:
  Build Back-End: (any of: todo-list-shareable-backend/**) or (any of: todo-list-shareable-backend/src/**)
  Build Front-End: any of: todo-list-shareable-frontend/**
  Back-End Test: any of: todo-list-shareable-backend/**
  Front-End Test: any of: todo-list-shareable-frontend/**
