Repository DariusTarvydas00/todo-list-shareable: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Back-End, Build Front-End, Back-End Test, Front-End Test

Jenkinsfile:

pipeline {
    agent any

    triggers{
        pollSCM('*/15 * * * *')
    }

    tools {
        nodejs "Node"
    }

    stages {
        stage("Build project"){
            parallel {
                stage("Build Back-End"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-backend/**"
                        }
                    }
                    steps {
                        dir('todo-list-shareable-backend') {
                            sh 'npm run build'
                            sh 'npm test'
                        }
                    }
                }
                stage("Build Front-End"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-frontend/**"
                        }
                    }
                    steps {
                        dir('todo-list-shareable-frontend') {
                            sh 'npm run build'
                        }
                    }
                }
            }
        }
         stage("Unit test"){
            parallel{
                stage("Back-End Test"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-backend/**"
                        }
                    }
                    steps{
                        dir('todo-list-shareable-backend') {
                        sh "npm run test"
                        }
                    }
                    post{
                        dir('todo-list-shareable-backend') {
                            always{
                            step([$class: 'CoberturaPublisher', coberturaReportFile: 'output/coverage/jest/cobertura-coverage.xml'])
                            }
                        }
                    }
                }
                stage("Front-End Test"){
                    when {
                        anyOf {
                        changeset "todo-list-shareable-frontend/**"
                        }
                    }
                    steps{
                        dir('todo-list-shareable-frontend') {
                        sh "npm run test:unit"
                        }
                    }
                }
            }
         }
    }
}

test
  Jenkinsfile
  todo-list-shareable-backend/src/main.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-frontend/src/components/HelloWorld.vue
Due: Build Front-End, Front-End Test

test
  Jenkinsfile
Due: none

test
  Jenkinsfile
  todo-list-shareable-frontend/src/components/HelloWorld.vue
Due: Build Front-End, Front-End Test

test
  todo-list-shareable-backend/src/app.service.ts
  todo-list-shareable-backend/src/main.ts
Due: Build Back-End, Back-End Test

test
  todo-list-shareable-backend/src/app.service.ts
Due: Build Back-End, Back-End Test

test
  Jenkinsfile
  todo-list-shareable-frontend/package.json
  todo-list-shareable-frontend/tsconfig.json
  todo-list-shareable-frontend/vite.config.ts
Due: Build Front-End, Front-End Test

test
  todo-list-shareable-frontend/src/App.vue
Due: Build Front-End, Front-End Test
